<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'Search')">
</head>
<body>
<nav th:replace="layouts :: nav"></nav>
<script src="index.js"></script>

<main>
    <!-- go to top button -->
    <div id="page_top"><a href="#"></a></div>

    <!-- radio button -->
    <div class="search-container">  
        <form id="input-coffee" name="coffee-btn">
            <div class="radio-container hot-item">
                <input id="hot" class="radio-button-coffee" type="radio" value="hot" name="coffee-btn" onchange="allHotRecipes();" />
                <div class="radio-box">
                <div class="icon hot-icon">
                    <i class="fa-solid fa-mug-hot"></i>
                </div>
                <label for="hot" class="radio-box-label">HOT</label>
                </div>  
            </div>
            <div class="radio-container iced-item">
                <input id="iced" class="radio-button-coffee" type="radio" value="iced" name="coffee-btn" onchange="allIcedRecipes();" />
                <div class="radio-box">
                <div class="icon iced-icon">
                    <i class="fa-solid fa-glass-water"></i>
                </div>
                <label for="iced" class="radio-box-label">ICED</label>
                </div>  
            </div>
        </form>
    </div>

    <!-- resipes -->
    <div id="recipes" class="recipes">
      <!-- <section class="recipe">
        <h1 class="title"></h1>
        <p class="description"></p>
        <ol class="ingredients"></ol>
        <img class="image" />
      </section> -->
    </div>

</main>

    
</body>
</html>